@import "../../Utilities/scss/config2";
@import "../../Utilities/scss/grid";
@import "../../Utilities/scss/grid2";
@import "../../Utilities/scss/animations";

@import "../../assets/scss/componants/button";
@import "../../assets/scss/componants/header";
@import "../../Auth/FrontEnd/scss/loginToggle";
@import "../../Auth/FrontEnd/scss/userMenu";
@import "../../ChessBoard/scss/chessboard";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-stack;
  line-height: 1.6;
  @include set-background($background-color);
}
#wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  z-index: 0;
}
