@import "utilities/config1";
@import "utilities/grid";
@import "utilities/animations";

@import "componants/header";
@import "componants/button";
@import "componants/loginToggle";
@import "componants/userMenu";
* {
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  z-index: 0;
}
