.header {
  text-align: center;
  background: fixed;
  width: 100%;
  position: fixed;
  top: 0;
  @include set-background($background-color);
  //background-attachment: fixed;
  z-index: 1;

  .logo,
  h1 {
    margin: 0;
    padding: 0;
    font-size: 44px;
    color: #625261;
  }
  .logoHeader {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  img {
    vertical-align: middle;
  }
  nav {
    height: 44px;
    overflow: scroll;
    @include set-background($primary-color);
    ul {
      display: flex;
      height: 44px;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      margin: 0;
    }
    a {
      @include set-background($primary-color);
      display: block;
      text-decoration: none;
      font-size: 17px;
      font-weight: 100;
      cursor: pointer;
      transition: ease-in-out 0.3s;
      &:hover {
        color: $background-color;
      }
    }
  }
  #nav2 {
    display: none;
    .searchBox {
      text-align: left;
      text-decoration: none;
      margin-top: 7px;
      padding: 6px;
      border: solid 1px $tiertary-color;
      border-radius: 22px;
      background-color: $primary-color;
      color: $secondary-color;
      outline: none;
      transition: 200ms ease-in-out;
      cursor: pointer;
    }
  }
}
