.header1 {
  text-align: center;
  background: fixed;
  width: 100%;
  position: fixed;
  top: 0;
  @include set-background($background-color);
  //background-attachment: fixed;
  z-index: 1;
  h1 {
    margin: 0;
    font-size: 44px;
  }
  nav {
    height: 44px;
    padding: 5px;
    overflow: scroll;
    @include set-background($primary-color);
    ul {
      display: flex;
      height: 44px;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      margin: 0;
    }
    a {
      @include set-background($primary-color);
      display: block;
      text-decoration: none;
      font-size: 15px;
      font-weight: 100;
      cursor: pointer;
      transition: ease-in-out 0.3s;
      &:hover {
        color: $background-color;
      }
    }
  }
}
