// variables
$font-stack: Arial, Helvetica, sans-serif;
$secondary-color: #c5c6cb;
$primary-color: #ffffff;
$tiertary-color: #fbfbfd;
$box-color: #333333;
$background-color: #423f3f;

// set text color based on bg

@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return $box-color;
  } @else {
    @return $secondary-color;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
